

<div class="col-md-4 mt-6 mb-6">
    <div class="search">
        <input type="text" [(ngModel)]="term" class="searchTerm" placeholder="What Player are you looking for?"  maxlength="40" size="84">
      </div>
    <table class="table table-dark" >
        
        <thead>
            <tr class="black">
                <th> shortName</th>
                <th> fullName</th>
                <th>  playStoreLink</th>
                <th> appStoreLink</th>
                <th> linkDescription</th>
                <th> Color</th>
                <th> CategoryId</th>
                <th> ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listData | filter:term |paginate: {itemsPerPage:5, currentPage: page }">
                <td><span>{{item.shortName}}</span></td>
                <td><span>{{item.fullName}}</span></td>
                <td><span>{{item.playStoreLink}}</span></td>
                <td><span>{{item.appStoreLink}}</span></td>
                <td><span>{{item.linkDescription}}</span></td>
                <td><span>{{item.color}}</span></td>
                <td><span>{{item.categoryId}}</span></td>
                <div class="yeer">
                
                            <button type="button" class="hl-sort" (click)="removeItem (item )">remove</button><br> <br>
                            <button type="button" class="hl-sort" (click)="onClickForm(item)">update</button> <br>
                       
                        </div>
            </tr>
        </tbody>
    </table>
    <pagination-controls class="pagination " (pageChange)="page = $event"></pagination-controls>
</div>